@page
@model IndexModel
@{
    ViewData["Title"] = "Order Page";
}

<h1>Pizza Order Form</h1>

<form method="post" asp-page-handler="Klik">
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" type="text" asp-for="Order.CustomerName" />
    </div>
    <div class="form-group">
        <label>Address:</label>
        <input class="form-control" type="text" asp-for="Order.CustomerAddress" />
    </div>
    <div class="form-group">
        <label>Zipcode/City:</label>
        <input class="form-control" type="text" asp-for="Order.CustomerZipcode" />
    </div>
    <div class="form-group">
        <label>Select Pizza:</label>

        <select id="dropdown_menu">
            @foreach (var item in Model._pizzas)
            {
                <option>@item.PizzaName</option>
            }
        </select>
    </div>
    <button type="button" class="btn btn-primary" id="addPizza">Add Another Pizza</button>
    <br /><br />
    <div id="pizzaList">
    </div>
    <br /><br />
    <button type="submit" class="btn btn-primary">Place Order</button>
</form>

